.blog-hero {
  border-bottom: 1px solid #aaaaaa;
  margin: 100px 0 95px 0;
}

.blog-hero__info {
  text-align: center;
}

.blog-hero__info h3 {
  font-size: 32px;
  line-height: 45px;
  margin: 0;
}

.blog-hero__info p {
  font-size: 16px;
  line-height: 24px;
}

.blog-hero img {
  width: 100%;
}

.blog-card {
  max-width: calc(33.333% - 40px);
}

.blog-card img {
  width: 100%;
}

.blog-card-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #111111;
  margin-top: 14px;
  margin-bottom: 0;
}

.blog-desc {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  margin-top: 5px;
}

.blog-post {
  padding: 40px 90px;
  border: 1px solid #aaa;
}

.blog-post__hero {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
}

.blog-post__title,
.blog-post__author-info {
  text-align: center;
}

.blog-post__title {
  font-size: 36px;
  line-height: 38px;
  margin: 30px 0 0 0;
}

.blog-post__author-info {
  margin-top: 30px;
}

.blog-post__author-info p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.blog-post__desc {
  font-size: 24px;
  line-height: 32px;
}

/**
**
** responsive
**
**/

@media only screen and (max-width: 991px) {
  [data-collapse="desktop"] {
    display: block;
  }

  .blog-card {
    max-width: calc(50% - 40px);
  }

  .blog-post {
    padding: 40px;
  }
}

@media only screen and (max-width: 767px) {
  [data-collapse="mobile"] {
    display: block;
  }

  .blog-card {
    max-width: 100%;
  }
}
