.blog-desc {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  margin-top: 5px;
}

.blog-post {
  padding: 40px 90px;
  border: 1px solid #aaa;
}

.blog-post__hero {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
}

.blog-post__title,
.blog-post__author-info {
  text-align: center;
}

.blog-post__title {
  font-size: 36px;
  line-height: 38px;
  margin: 30px 0 0 0;
}

.blog-post__author-info {
  margin-top: 30px;
}

.blog-post__author-info p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.blog-post__desc {
  font-size: 24px;
  line-height: 32px;
}

.pagination {
  list-style-type: none;
  font-size: 24px;
  line-height: 32px;
}

.pagination__link--active {
  color: #f9ae05;
}

.pagination_item,
.pagination__link {
  padding: 10px;
  cursor: pointer;
}

.pagination__link--disabled {
  opacity: 0.2;
}

/**
**
** responsive
**
**/

@media only screen and (max-width: 991px) {
  .blog-post {
    padding: 40px;
  }
}
