header {
  height: 180px;
  display: flex;
  flex-direction: column;
}
.wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid green;
}
.header-container {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background: #169da8;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}
.under-div {
  background-color: gray;
  height: 50%;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}

/* navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #ff8b42;
}

.current-page {
  border-bottom: 1px solid pink;
}

.current-page:hover {
  color: pink;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}
