.wrapper-with-title {
    border: 1px solid var(--yellow);
    border-radius: 5px;
    padding: 57px;
    margin-top: 25px;  
    height: 100%;
}

.page-title {
    font-size: 20px;
    text-transform: uppercase;
  }