.petInfo {
  border: 1px solid gray;
  margin: 25px auto;
  min-height: 100vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.sliderDiv {
  flex: 1;
}
.infoAbout {
  height: 95%;
  width: 55%;
}
.mapInfo {
  border: 1px solid blue;
  height: 90%;
  width: 40%;
}
.name {
  margin: 0;
}
.pawIcon {
  padding: 0 10px;
}
.infoParagraphs {
  text-transform: uppercase;
}

.favoriteImage {
  height: 150px;
  border-radius: 50%;
  margin-left: 200px;
  margin-top: -50px;
}
