.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.slider {
  position: relative;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 73%;
}
.image {
  width: 98%;
  height: 470px;
  border-radius: 5px;
  position: relative;
}
.sliderHeartIcon {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 20px;
  right: 45px;
}
.right-arrow {
  position: absolute;
  top: 45%;
  right: 40px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 45%;
  left: 40px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
.sideImages {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideImageDiv {
  height: 31%;
}
.sideImage {
  height: 100%;
  width: 100%;
}
.sideImage.active {
  opacity: 0.6;
}
