.petInfo {
  border: 1px solid gray;
  margin: 25px auto;
  min-height: 100vh;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  width: 90%;
}
.petName {
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
}
.heartIconPetName {
  padding-left: 10px;
}
.sliderDiv {
  flex: 1;
}
.infoAbout {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.leftInfoAbout {
  width: 69%;
}
.rightInfoAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 60px;
}
.infoAboutFirst {
  display: flex;
  align-items: center;
}
.firstP {
  margin: 0;
}
.storyInfo {
  width: 100%;
  margin: 0 auto;
}
.pawIcon {
  padding: 0 10px;
  height: 10px;
  width: 10px;
}
.favoriteImage {
  height: 130px;
}
.videoDiv {
  width: 100%;
  height: 25%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.videoDiv a {
  text-decoration: none;
  margin-top: 10px;
}
.videoPet {
  height: 300px;
  width: 500px;
  margin: 15px 0 25px 0;
}
.buttonDiv {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
