.footer {
  width: 100%;
  background: #1f1f1f;
  position: relative;
}

.footer-content {
  margin: auto;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 40px 0 40px 0;
}

.footer-nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.footer-copyright {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  padding: 9px 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .footer-nav {
    display: block;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .footer-nav a {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
  }
}
