.favorite {
  background: #169da8;
  margin-top: 3em;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  padding: 0.5em 0.8em;
  width: 70%;
  margin: 0 auto;
  border-radius: 0.3em;
  cursor: pointer;
  text-align: center;
}

.btn:hover,
btn:focus {
  background: #ff8b42;
  color: white;
}

.adopt {
  background: #ecec;
  font-size: 1.1rem;
}
