@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

body {
  background-color: #fff;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

/***********
** Flex
***********/

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/***********
** Buttons
***********/

.btn {
  min-width: 180px;
  min-height: 50px;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
}

.btn-primary {
  background: #f75451;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.divDispaly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
