@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --red: #f75451;
  --lightGray: #f1f1f1;
  --white: #ffffff;
  --black: #212529;
  --darkGray: #b9b9b9;
  --yellow: #f9ae05;
}

body {
  background-color: var(--white);
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 86px;
  }
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

a,
a:hover {
  color: var(--red);
  text-decoration: none;
}

/***********
** Flex
***********/

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

/***********
** Reuse
***********/

.title-underline {
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
}

.title-underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--yellow);
}

.page-title {
  position: relative;
  color: var(--yellow);
  padding-left: 40px;
  font-weight: normal;
}

.page-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 2px;
  width: 30px;
  background-color: var(--yellow);
}

.divider-text {
  text-align: center;
  position: relative;
  margin: 20px auto;
}

.divider-text span {
  position: relative;
  z-index: 2;
  background-color: var(--lightGray);
  color: #313131;
  padding: 10px;
}

.divider-text:before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--darkGray);
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 1;
}

.info-box {
  border: 1px dashed var(--darkGray);
  padding: 10px;
  border-radius: 8px;
  background: var(--white);
}

.border-bottom-red {
  border-bottom: 1px solid var(--red);
  display: inline-block;
}

/***********
** Buttons
***********/

.custom-btn {
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  line-height: 44px;
  cursor: pointer;
  padding: 0 25px;
  min-width: 180px;
  box-sizing: border-box;
}

.custom-btn:active,
.custom-btn:focus {
  outline: none;
  border: 0;
}

.custom-btn.btn-primary {
  background: var(--red);
  border: 0;
}

.custom-btn.btn-secondary {
  background: #818181;
  border: 0;
}

.custom-btn.btn-center {
  display: inherit;
  margin: 0 auto;
}

.btn-square {
  background: var(--white);
  color: var(--black);
  border-radius: 6px;
  border: 2px solid var(--darkGray);
}

/***********
** Forms
***********/

.form-error {
  color: var(--red);
}

input:not([type="submit"]),
textarea {
  height: 46px;
  background: var(--white);
  border: 2px solid var(--darkGray);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px;
  outline: var(--red);
}

textarea {
  height: auto;
}

.password-input {
  position: relative;
}

.password-input .pass-visibility {
  position: absolute;
  top: 38px;
  right: 25px;
  width: 22px;
  opacity: 0.5;
  cursor: pointer;
}

label .asterix {
  color: var(--red);
  font-weight: 300;
}

.form-content {
  padding: 50px;
}

.form-title .title-underline {
  display: inline-block;
}

.form-title .title-underline:after {
  width: 100%;
  border: 2px solid var(--red);
}

/***********
** Modal
***********/

.modal-text {
  text-align: center;
}

.modal-body {
  padding: 2rem;
}


/***********
** Home Page
***********/

.home .hero {
  min-height: 600px;
  background-color: #313131;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 88px 0 0;
}

.home .hero__caption {
  max-width: 428px;
  width: 100%;
}

.home .hero__caption h1,
.home .hero__caption p {
  color: #fff;
}

.home .hero__caption h1 {
  font-size: 40px;
  max-width: 370px;
}

.home .hero__caption p {
  font-size: 24px;
  line-height: 32px;
  margin-top: 50px;
}

.search-widget {
  padding: 60px 0;
}

.search-widget .form {
  display: flex;
  align-items: center;
}

.search-widget .btn {
  background-color: #f9ae05;
  padding: 0 42px;
  height: 60px;
  outline: none;
}

.search-widget .btn:not(:last-child) {
  margin-right: 4px;
}

.search-widget .input {
  background-color: transparent;
  border: 3px solid #f9ae05;
  height: 60px;
  padding: 0 20px;
  margin-right: 4px;
}

.search-widget .btn,
.search-widget .input {
  border-radius: 0;
}

.btn--default {
  width: 180px;
  height: 50px;
  line-height: 52px;
}


.available-for-adopt .featured-slider {
  margin-bottom: 0;
}

/*  TESTIMONIAL SECTION  */
.testimonial-section {
  padding: 100px 0;
}

.testimonial-section .text-placeholder {
  max-width: 576px;
}

.testimonial-section .text-placeholder p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #818181;
}

.testimonial-section .text-placeholder p:last-of-type {
  margin-bottom: 60px;
}

/***********
** Responsive
***********/
@media only screen and (max-width: 991px) {
  [data-collapse="desktop"] {
    display: block !important;
  }

  /**
   form register
  **/
  .form-content {
    padding: 50px 15px;
  }
}

@media only screen and (max-width: 767px) {
  [data-collapse="tablet"] {
    display: block !important;
  }

  /**
   form register
  **/
  .form-image-wrap {
    height: 400px;
  }

  /**
   form register
  **/
  .form-image-wrap {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 767px) {
}
