.header {
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}

.header-content {
  margin: auto;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.header-logo {
  display: flex;
  max-width: 250px;
  width: 100%;
}

.header-logo img {
  width: 100%;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .mobile-menu {
    display: block;
  }
  .header-content {
    justify-content: space-between;
    height: auto;
    text-align: center;
    padding: 15px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
  }

  .header-logo {
    max-width: 40%;
    text-align: left;
  }
}
