img {
    width: 200px;
    height: 200px;
    background-color: red;
}

.galerija button {
    background: white;
    
}
.galerija button:hover {
    background: none !important;
}


.galerija span {
    border-color: black !important;
}