
.container {

display: flex;
justify-content: space-around;
width: 100%;
background-color: #E5E5E5;
height: 100vh;

    
}



h2 {
    color: gray;


}




.vertical-container {

    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    width: 50%;

}

.registruj-btn {

    background: #1fb0ff;


}

.register-description {

    width: 50%;

}


input {

    width: 50%;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border: 1px solid black;
    height: 30px;
    padding-left: 5px;
    font-weight: bolder;
    border-radius: 3px;

}

/* button {

    width: 51.5%;
    border-radius: 5px;
} */

#submit-btn {

    background-color: #169DA8;
    color: white;
    border: none;
    height: 25px;
}


.fb-picture > img {

    height: 200 px;
    width: 200px;

}